:root {
  --scrollbar-thumb: #a399bc;
  --scrollbar-track: #e5e7eb;
}


.custom-scrollbarVenue::-webkit-scrollbar {
  width: 6px !important;
}

.custom-scrollbarVenue::-webkit-scrollbar-track {
  background: #e5e7eb !important;
  border-radius: 50px !important;
}

.custom-scrollbarVenue::-webkit-scrollbar-thumb {
  background: #a399bc !important;
  border-radius: 50px !important;
}


.custom-scrollbarVenue::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

/* For Firefox */
.custom-scrollbarVenue {
  scrollbar-width: thin;
  scrollbar-color: #a399bc #e5e7eb;
}